body {
    min-height: 200vh;
    margin: 50px;
    background-color: orange;
}

header {
  background: yellow;
  padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 120px;
    background-color: cyan;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 120px;
}

main {
    margin-top: 20px;
    padding: 20px;
    background-color: green;
}

section {
    background-color: cyan;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    background-color: rgb(120, 213, 248);
    padding: 20px;
}

#section1 {
    background: yellow;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    text-align: justify;
    margin-bottom: 50px;
}

#section1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#section2 {
    background: yellow;
    flex-direction: row;
}

form {
    background: pink;
    padding: 30px;
    margin-left: 30px;
}

form div {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 80%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: blue;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
}

button:hover {
    background: blueviolet;
}

.hidden {
    display: none;
}

footer {
    background-color: pink;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
